name: Build & Deploy Backend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/cesarcanro1/proyectoweb-backend
  NAMESPACE: proyecto-web
  DEPLOYMENT: backend

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build JAR
        run: mvn -B -DskipTests package

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Replace NODE_IP in k8s.yaml
        run: |
          NODE_IP=$(hostname -I | awk '{print $1}')
          echo "Usando NODE_IP: $NODE_IP"
          sed -i "s/backend.10.43.103.143.nip.io/backend.${NODE_IP}.nip.io/g" k8s.yaml

      - name: Apply manifests (MicroK8s)
        run: |
          sudo microk8s kubectl apply -f k8s.yaml

          sudo microk8s kubectl -n proyecto-web set image deployment/backend \
            backend=${{ env.IMAGE }}:latest

          sudo microk8s kubectl -n proyecto-web rollout status deployment/backend --timeout=90s

          sudo microk8s kubectl -n proyecto-web get pods -o wide

