name: Build and Deploy Backend

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build backend JAR
        run: mvn -B package --file pom.xml

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=sha-${{ github.sha }}
          docker build -t ghcr.io/${{ github.repository }}/proyecto-backend:${IMAGE_TAG} .

      - name: Push image
        run: |
          IMAGE_TAG=sha-${{ github.sha }}
          docker push ghcr.io/${{ github.repository }}/proyecto-backend:${IMAGE_TAG}


  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Inserta el SHA en el archivo k8s.yaml ANTES del deploy
      - name: Replace image tag in k8s.yaml
        run: |
          IMAGE_TAG=sha-${{ github.sha }}
          sed -i "s/sha-PLACEHOLDER/${IMAGE_TAG}/g" k8s.yaml

      - name: Apply manifests
        run: |
          sudo microk8s kubectl apply -f k8s.yaml

      - name: Wait for rollout
        run: |
          sudo microk8s kubectl -n proyecto-web rollout status deploy/backend