name: Build & Deploy Backend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/cesarcanro1/proyecto-backend
  NAMESPACE: proyecto-web
  DEPLOYMENT: backend

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build JAR
        run: mvn -B -DskipTests package

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:sha-${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Renderiza el host del Ingress con el IP real de la VM
      - name: Inject NODE_IP into k8s.yaml
        run: |
          NODE_IP=$(hostname -I | awk '{print $1}')
          echo "NODE_IP=${NODE_IP}"

          sed -i "s/backend.\${NODE_IP}.nip.io/backend.${NODE_IP}.nip.io/g" k8s.yaml

      - name: Apply manifests & rollout (local MicroK8s)
        run: |
          microk8s kubectl apply -f k8s.yaml

          microk8s kubectl -n proyecto-web set image deploy/backend \
            backend=ghcr.io/cesarcanro1/proyecto-backend:latest

          microk8s kubectl -n proyecto-web rollout status deploy/backend

          microk8s kubectl -n proyecto-web get ingress backend -o yaml | sed -n '1,120p'
          microk8s kubectl -n proyecto-web get pods -l app=backend -o wide
